/* General Styles */
body {
  background-color: #001f3d;
  margin: 0;
}

button {
  margin: 0 8px 8px 0;
}

table {
  width: 100%;
  background-color: #001f3d;
  color: #f8f8f8;
}

/* Form Styles */
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

/* Focus Indicator */
.mat-mdc-focus-indicator {
  /* Add styles if needed */
}

/* Plus Button */
.pluss {
  color: wheat;
  background-color: rgba(252, 252, 252, 0);
  border: solid 1px white;
  border-radius: 50%;
  padding: 2%;
  margin: 2%;
}

/* Floating Action Button */
.mat-mdc-fab.mat-accent {
  background-color: #be2a40;
}

/* Table Header Row */
.mat-mdc-header-row {
  color: #ff4d4db4;
}

/* Table Cell */
.mat-mdc-cell {
  color: #f8f8f8;
}

/* Search Container */
.search-container {
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  width: 20%;
  height: 6vh;
  background-color: #001e3de0;
  border: solid white;
  padding: 3px;
}

.search-container:focus-within {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  transition: background-color 0.3s ease;
  height: 6vh;
  background-color: #f8f8f800;
  padding: 3px;
}

/* Search Input */
.search-input {
  flex-grow: 1;
  padding: 10px 16px;
  border: none;
  color: white;
  outline: none;
  background-color: #001e3d;
}

.search-input:focus {
  background-color: #da858508;
}

/* Search Button */
.search-button {
  background-color: #FF4D4D;
  color: white;
  padding: 10px 16px;
  border: none;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: black;
}

/* Profit Button */
.profit_btn {
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  width: 15%;
  height: 6vh;
  background-color: #001e3de0;
  border: none;
  padding: 3px;
  color: hsl(0, 0%, 100%);
}

.profit_btn:hover {
  background-color: #001e3d76;
}

/* Gift Image */
.imgGift {
  width: 6vw;
  height: 8vh;
}

/* Gift Button */
.btn_gift {
  display: flex;
}

/* Add New Gift */
.addNewGift {
  width: 5.5vw;
  height: 12vh;
}